<ul>
  <% @courses.each do |course| %>
    <li>
      <a href="/<%= course[:name] %>"><%= course[:name] %></a>
    </li>
  <% end %>
</ul>

<form action="/search" method="get">
  <input name="query" value="<%= params[:query] %>">
  <button type="submit">Search</button>
</form>