<!doctype html>
<html lang="en-US">
  <head>
    <title>My Study Guides</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/stylesheets/study_guides.css">
  </head>
  <body>
    <header>
      <h1>Ginni's Study Guides<h1>
    </header>

    <main>
      <%= yield %>
    </main>
  </body>
</html>